@import "tailwindcss";

@theme {
  /* This maps the CSS variables from Next.js to Tailwind utility classes */
  --font-sora: var(--font-sora);
  --font-inter: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Global Element Selectors */
h1 {
  font-family: var(--font-sora);
  font-weight: 600;
}

p {
  font-family: var(--font-inter);
  font-weight: 400;
}

body {
 
  /* Optional: Set Inter as the default base font */
  font-family: var(--font-inter); 
}